::-webkit-input-placeholder {
  font-family: 'Nexa Book', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Nexa Book', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Nexa Book', sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Nexa Book', sans-serif;
}

label{
  font-size: 20px;
  font-family: 'Strawberry Muffins', sans-serif;
}

.btn{
  font-family: 'Strawberry Muffins', sans-serif;
}